<template>
  <Form :title="formTitle" />
</template>

<script>
import Form from "@/components/Form.vue";

export default {
  name: "FirstTask",
  components: {
    Form,
  },
  data() {
    return {
      formTitle: "Заполните форму",
    };
  },
};
</script>
