<template>
  <div class="products">
    <div class="row">
      <div
        class="col-6"
        v-for="item in productsItems"
        :key="item.id"
        :class="{ load: loading == true }"
      >
        <Card
          :image="item.image"
          :title="item.title"
          :price="item.price"
          :colors="item.colors"
          :alt="item.alt"
        >
        </Card>
      </div>
    </div>
  </div>
</template>

<script>
import Card from "@/components/Card.vue";

import axios from "@/axios";

export default {
  name: "SecondTask",
  components: {
    Card,
  },

  data() {
    return {
      products: null,
      loading: true,
    };
  },

  async created() {
    await axios
      .get("/products", {
        params: {
          categoryId: 3,
        },
      })
      .then((response) => {
        this.products = response.data.items;
        this.loading = false;
      });
  },

  computed: {
    productsItems() {
      if (this.products != null) {
        return this.products.map((item) => ({
          id: item.id,
          image: item.image.file.url,
          title: item.title,
          price: item.price,
          colors: item.colors,
          alt: item.slug,
        }));
      }
    },
  },
};
</script>

<style lang="stylus">
.products
  max-width: 1100px;
  margin: 60px auto;
  &__list
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    &.load
      position: relative;
      &:before
        content ''
        position: absolute;
        background rgba(255,255,255, 0.9)
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
      &:after
        content: ''
        box-sizing: border-box
        position: absolute
        top: 50%
        left: 50%
        width: 20px
        height: 20px
        margin-top: -10px
        margin-left: -10px
        border-radius: 50%
        border: 2px solid #007bff
        border-top-color: #eee
        animation: spinner .6s linear infinite
        text-indent: 100%
        white-space: nowrap
        z-index 2
        overflow: hidden
        @keyframes spinner
          to
            transform: rotate(360deg)
  &__title
    margin-bottom: 50px;
</style>
