<template>
  <div class="card" :key="id">
    <img :src="image" :alt="alt" class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title">{{ title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ price }} ₽</h6>
      <a
        href="#"
        v-for="color in colors"
        :key="color.id"
        class="card-link"
        :style="{ color: color.code }"
        >{{ color.title }}
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: "products",
  props: {
    id: Number,
    title: String,
    price: Number,
    image: String,
    colors: Array,
    alt: String,
  },
};
</script>

<style lang="stylus" scoped>

.card-img-top
  width: 200px;
  height: 200px;
  margin auto;
  object-fit contain
</style>
