<template>
  <form class="form">
    <h1 class="mb-4">{{ title }}</h1>
    <div class="form-group" v-for="(field, k) in form" :key="k">
      <label class="d-block" v-if="field.inputType">
        <div class="mb-2">{{ field.label }}</div>
        <input
          type=""
          class="form-control "
          v-model="field.value"
          :class="{ 'is-invalid': field.error }"
          @focus="clearError(k)"
        />
        <div v-if="field.error" class="invalid-feedback">
          {{ field.errorText }}
        </div>
      </label>

      <label class="d-block" v-else>
        <div class="mb-2">{{ field.label }}</div>
        <textarea class="form-control" v-model="field.value"></textarea>
      </label>
    </div>
    <button class="btn btn-primary" @click.prevent="sendForm">
      Отправить
    </button>
  </form>
</template>

<script>
import axios from "@/axios";

export default {
  name: "Form",
  props: {
    title: String,
  },

  data() {
    return {
      form: {
        name: {
          value: "qw",
          label: "Представьтесь",
          inputType: true,
          error: false,
          errorText: "",
          required: true,
        },
        address: {
          value: "",
          label: "Адрес доставки",
          inputType: true,
          error: false,
          errorText: "",
          required: true,
        },
        phone: {
          value: "+79130213137",
          label: "Телефон",
          pattern: /^([+]?[0-9\s-\(\)]{3,25})*$/,
          inputType: true,
          error: false,
          errorText: "",
          required: true,
        },
        email: {
          value: "22@mail.r",
          label: "Email",
          pattern: /^([\w.*-]+@([\w-]+\.)+[\w-]{2,4})?$/,
          inputType: true,
          error: false,
          errorText: "",
          required: true,
        },
        comment: {
          value: "",
          label: "Комментарий",
          inputType: false,
          required: false,
        },
      },

      userKey: null,
    };
  },

  computed: {
    formDone() {
      return Object.values(this.form).every((field) => field.error !== true);
    },

    validatedFields() {
      return Object.values(this.form).filter(
        (field) => field.required === true,
      );
    },
  },

  methods: {
    async sendForm() {
      this.formValidation();

      if (this.formDone) {
        const response = await axios.get("/users/accessKey");

        this.userKey = response.data.accessKey;

        const formData = Object.keys(this.form).reduce((acc, key) => {
          acc[key] = this.form[key].value;
          return acc;
        }, {});

        try {
          const answer = await axios.post("/orders", formData, {
            params: { userAccessKey: this.userKey },
          });
        } catch (error) {
          Object.keys(error.response.data.error.request).forEach((key) => {
            this.form[key].error = true;
            this.form[key].errorText = error.response.data.error.request[key];
          });
        }
      }
    },

    formValidation() {
      this.validatedFields.forEach((field) => {
        if (field.value === "") {
          field.error = true;
          field.errorText = "Значение не должно быть пустым";
        }
      });

      // for (const [key, field] of Object.entries(this.form)) {
      //   switch (key) {
      //     case "name":
      //       {
      //         if (field.value === "") {
      //           field.error = true;
      //           field.errorText = "Значение не должно быть пустым";
      //         }
      //       }
      //       break;
      //     case "address":
      //       {
      //         if (field.value === "") {
      //           field.error = true;
      //           field.errorText = "Значение не должно быть пустым";
      //         }
      //       }
      //       break;
      //     case "phone":
      //       {
      //         if (field.value === "") {
      //           field.error = true;
      //           field.errorText = "Значение не должно быть пустым";
      //         } else if (field.pattern) {
      //           field.error = !field.pattern.test(field.value);
      //           field.errorText = "Не верный формат phone";
      //         }
      //       }
      //       break;
      //     case "email":
      //       {
      //         if (field.value === "") {
      //           field.error = true;
      //           field.errorText = "Значение не должно быть пустым";
      //         } else if (field.pattern) {
      //           field.error = !field.pattern.test(field.value);
      //           field.errorText =
      //             "Значение адреса электронной почты недопустимо";
      //         }
      //       }
      //       break;
      //     default: {
      //       if (field.value === "") {
      //         field.error = true;
      //         field.errorText = "Значение не должно быть пустым";
      //       }
      //     }
      //   }
      // }
    },

    clearError(key) {
      this.form[key].error = false;
    },
  },
};
</script>

<style lang="stylus" scoped>
.form
  margin 40px auto
  max-width 600px
  text-align left
</style>
